.team_cards_wrapper {
    width: 100%;
    position: relative;
    float: left;
    background: #cbcbcb;
}

.team_cards_wrapper .team_cards_box {
    float: left;
    width: 20%;
    margin: 2.5%;
    box-shadow: 1px 2px 3px #000;
    background: #FFFFFF;
}

.team_cards_wrapper .team_cards_box .team_cards_img_container {
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
    margin: 5%;
}

.team_cards_wrapper .team_cards_box .team_cards_img_container img {
    width: 100%;
}

.team_cards_wrapper .team_cards_box .team_cards_content_container {
    width: 100%;
}

.team_cards_wrapper .team_cards_box .team_cards_content_container .team_cards_content {
    width: 90%;
    margin: 5%;
}